@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&display=swap');
*{
  padding: 0;
  margin: 0;
  outline: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background: linear-gradient(#28a745,#F7CD2E);
}
::-webkit-scrollbar-thumb{
  height: 20px;
  background: red;
  border-radius: 30px;
  transition: all ease 0.1s;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
