.resbackground{
    background: linear-gradient(#F7CD2E,#28a745);
    width: 100%;
    height: 100vh;
}

.boxes{
    background-color: rgb(170, 226, 118);
    border: 0.01rem solid black;
    border-radius: 30px;
    height: 300px;
    width: 100%;
    margin: 0 auto;
}